html {
  font-size: 62.5%;
  color: #414464;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  html {
    overflow-y: hidden;
  }
}

html ::-webkit-scrollbar {
  width: 1rem;
}

html ::-webkit-scrollbar-track {
  background: rgba(211, 211, 211, 0.431);
  -webkit-box-shadow: inset 0 0 4px;
  box-shadow: inset 0 0 4px;
}

html ::-webkit-scrollbar-thumb {
  background: #4e50b8;
  border-radius: 0.4rem;
}

html ::-webkit-scrollbar-thumb:hover {
  background: #f0916e;
}

html a {
  text-decoration: none;
  color: #414464;
}

@media (min-width: 1024px) {
  html .scroll {
    height: calc(100vh - 160px);
    overflow-y: auto;
  }
}

html body {
  font-size: 1.6rem;
  display: -ms-grid;
  display: grid;
  min-width: 400px;
  margin: 0 auto;
  background-color: rgba(211, 211, 211, 0.431);
  font-family: 'Open Sans', sans-serif;
  grid-template-areas: 'head' 'main' 'foot';
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

html body .greendot {
  color: #17dd17;
}

html body .lg {
  display: none;
}

@media (min-width: 1024px) {
  html body .sm {
    display: none;
  }

  html body .lg {
    display: block;
  }
}

html body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

html body .flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

html body .far,
html body .fas,
html body .fab,
html body .fa {
  font-size: 2.5rem;
}

html body .far:hover,
html body .fas:hover,
html body .fab:hover,
html body .fa:hover {
  color: #f0916e;
}

html body header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
}

html body header .homenav {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5%;
}

@media (min-width: 1024px) {
  html body header .homenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

html body header .homenav .heading {
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html body header .homenav .nav-left,
html body header .homenav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html body header .homenav .nav-left i,
html body header .homenav .nav-right i {
  padding: 0 10px;
}

html body header .homenav .purple-text {
  color: #4e50b8;
}

html body header .homenav .orange-text {
  color: #f0916e;
}

@media (min-width: 1024px) {
  html body header .homenav .far,
  html body header .homenav .fas,
  html body header .homenav .light {
    color: #41446483;
  }

  html body header .homenav .far:hover,
  html body header .homenav .fas:hover,
  html body header .homenav .light:hover {
    color: #f0916e;
  }
}

html body header .chatnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 8%;
  font-weight: bold;
  font-size: 1.2em;
  min-height: 70px;
}

@media (min-width: 1024px) {
  html body header .chatnav {
    display: none;
  }
}

html body header .chatnav form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html body header .chatnav input {
  width: 100%;
  height: 35px;
  font-size: 1.5rem;
  margin-left: -28px;
  padding-left: 40px;
  border: 0;
}

html body header .chatnav input:focus {
  outline: 0;
}

html body header .chatnav .fa-search {
  z-index: 1;
}

@media (min-width: 1024px) {
  html body header .chatnav .edit {
    background-color: #4e50b8;
    color: white;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  html body header .chatnav .edit .fa-edit {
    margin-left: 3px;
    margin-bottom: 2px;
  }
}

html body main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  -ms-grid-column-align: center;
  justify-self: center;
  width: 90%;
}

@media (min-width: 1024px) {
  html body main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }
}

html body main .upgrade {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 90%;
  background-color: #4e50b8;
  color: white;
  border-radius: 6px;
  padding: 8px;
}

html body main .menu-main {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 10px;
  font-size: 1.3rem;
  height: calc(100vh);
}

@media (min-width: 1024px) {
  html body main .menu-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

html body main .menu-main p {
  color: #41446483;
}

html body main .menu-main div {
  border-radius: 10px;
  padding: 0 5px;
}

html body main .menu-main div img {
  width: 80px;
  border-radius: 10px;
}

html body main .menu-main .user {
  background-color: white;
  padding: 15px;
  margin: 10px 0;
}

html body main .menu-main .user .get {
  width: 70%;
}

html body main .menu-main .user .fa-heart {
  color: #f0916e;
}

html body main .menu-main .user .user-pic {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
}

html body main .menu-main .user .fa-cog {
  color: #41446483;
}

html body main .menu-main .user .purple-text {
  color: #4e50b8;
  font-weight: bold;
}

html body main .menu-main .list {
  font-size: 1.2rem;
}

html body main .menu-main .list li {
  margin: 5px 0;
}

html body main .menu-main .list li .flex {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

html body main .menu-main .list .orange-no {
  width: 40px;
  background-color: #f0916e;
  text-align: center;
  color: white;
  border-radius: 5px;
}

html body main .menu-main .list .grey-no {
  width: 40px;
  background-color: rgba(211, 211, 211, 0.431);
  text-align: center;
  border-radius: 5px;
}

html body main .menu-main .list .fa,
html body main .menu-main .list .fas,
html body main .menu-main .list .fab,
html body main .menu-main .list .far {
  padding-right: 10px;
}

html body main .chats-main {
  width: 100%;
}

@media (min-width: 1024px) {
  html body main .chats-main {
    background-color: white;
    width: 100%;
    padding: 0 10px;
  }
}

html body main .chats-main * {
  border-radius: 10px;
}

html body main .chats-main .messages {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr 100px;
  grid-template-columns: 100px 1fr 100px;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  html body main .chats-main .messages {
    margin-bottom: 0;
  }
}

html body main .chats-main .messages img {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

html body main .chats-main .messages .content {
  padding-left: 10px;
  min-width: 180px;
}

html body main .chats-main .messages .content h5 {
  font-size: 1.8rem;
  margin: 0;
  margin-top: 10px;
}

html body main .chats-main .messages .content p {
  font-size: 1.3rem;
  color: #414464c9;
}

html body main .chats-main .messages .time {
  text-align: center;
  font-size: 1.1rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-top: 4px;
}

html body footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: foot;
}

@media (min-width: 1024px) {
  html body footer {
    width: 60%;
    margin-left: 35%;
  }
}

html body footer .chats-foot {
  -webkit-box-shadow: 0 -55px 40px 7px rgba(156, 156, 156, 0.52);
  box-shadow: 0 -55px 40px 7px rgba(156, 156, 156, 0.52);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10%;
  height: 100%;
}

@media (min-width: 1024px) {
  html body footer .chats-foot {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

html body footer .chats-foot .fa-globe {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.897);
}

html body footer .chats-foot .foot-icon3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #4e50b8;
  width: 70px;
  height: 70px;
  margin-top: -40px;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  html body footer .chats-foot .foot-icon3 {
    display: none;
  }
}
