$font: 'Open Sans', sans-serif;
$color1: lightpink;
$color2: lightblue;
$color3: lightgreen;
$color4: lightblue;
$color5: lightgrey;
$my-purple: #4e50b8;
$my-orange: #f0916e;
$my-grey: #414464;
$back-grey: rgba(211, 211, 211, 0.431);
$text-grey: #414464c9;
$chat-grey: rgba(211, 211, 211, 0.589);
$chat-purple: #4e50b82f;

html {
  font-size: 62.5%;
  color: $my-grey;
  font-family: $font;
  scroll-behavior: smooth;

  @media (min-width: 1024px) {
    // overflow-y: hidden;
  }

  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    background: $back-grey;
    box-shadow: inset 0 0 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: $my-purple;
    border-radius: 0.4rem;

    &:hover {
      background: $my-orange;
    }
  }

  .scroll {
    @media (min-width: 1024px) {
      height: calc(100vh - 120px);
      overflow-y: auto;
    }
  }

  body {
    font-size: 1.6rem;
    display: grid;
    min-width: 400px;
    margin: 0 auto;
    background-color: $back-grey;
    font-family: $font;
    grid-template-areas:
      'head'
      'main'
      'foot';
    grid-template-columns: 1fr;
    grid-gap: 10px;

    .lg {
      display: none;
    }

    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .flex-column {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    @media (min-width: 1024px) {
      .sm {
        display: none;
      }

      .lg {
        display: block;
      }
    }

    * {
      border: 2px dotted rgb(0, 0, 0);
    }

    .orange-hover:hover {
      color: $my-orange;
    }

    .greendot {
      color: rgb(23, 221, 23);
    }

    .fa,
    .fas,
    .fab,
    .far {
      font-size: 2.5rem;

      &:hover {
        color: $my-orange;
      }
    }

    header {
      background-color: white;
      position: sticky;
      top: 0;
      grid-area: head;

      nav {
        .homenav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 5%;

          .heading {
            font-weight: bold;
            font-size: 1.5rem;
            height: 70px;
            display: flex;
            align-items: center;
          }

          .nav-left,
          .nav-right {
            display: flex;
            align-items: center;

            i {
              padding: 0 10px;
            }
          }

          .purple-text {
            color: $my-purple;
          }

          .orange-text {
            color: $my-orange;
          }

          @media (min-width: 1024px) {
            .far,
            .fas,
            .light {
              color: #41446483;

              &:hover {
                color: $my-orange;
              }
            }
          }
        }
      }
    }

    main {
      width: 90%;
      justify-self: center;
      grid-area: main;

      @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 1.2fr 1.8fr 1.2fr;
        width: 90%;
      }

      .upgrade {
        align-self: center;
        width: 90%;
        background-color: $my-purple;
        color: white;
        border-radius: 6px;
        padding: 8px;
      }

      .menu-main {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        font-size: 1.3rem;

        p {
          color: #41446483;
        }

        div {
          border-radius: 10px;
          padding: 0 5px;

          img {
            width: 80px;
            border-radius: 10px;
          }
        }

        .user {
          background-color: white;
          padding: 15px;
          margin: 10px 0;

          .fa-cog {
            color: #41446483;
          }

          .purple-text {
            color: $my-purple;
            font-weight: bold;
          }
        }

        .list {
          font-size: 1.3rem;

          li {
            margin: 8px 0;

            .flex {
              justify-content: start;
            }
          }

          .orange-no {
            width: 40px;
            background-color: $my-orange;
            text-align: center;
            color: white;
            border-radius: 5px;
          }

          .grey-no {
            width: 40px;
            background-color: $back-grey;
            text-align: center;
            border-radius: 5px;
          }

          .fa,
          .fas,
          .fab,
          .far {
            padding-right: 10px;
          }
        }
      }

      .profile-main {
        .icon {
          width: 60px;
          height: 55px;
          object-fit: cover;
          border-radius: 10px;
          margin: 5px;
        }

        .fa-ellipsis-v {
          margin: 0 13px;
        }

        .circle {
          position: relative;
          width: 25px;
          height: 25px;
          background-color: $my-orange;
          border-radius: 100%;
          margin-left: -4%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;

          .x {
            margin-top: 12.5px;
          }
        }

        .swipe-icons {
          justify-content: center;
          margin-top: -20px;
          z-index: 999;
        }

        .details-main {
          display: flex;
          flex-direction: column;
          margin: 0 10px;
          font-size: 1.3rem;

          p {
            color: #41446483;
          }

          div {
            background-color: white;
            border-radius: 10px;
            padding: 0 5px;

            .gift-image,
            .crown-image {
              width: 60px;
              border-radius: 10px;
            }
          }

          .pro-ad {
            margin: 10px 0;
            padding-bottom: 15px;
            padding-top: 5px;

            .ad-top {
              justify-content: space-around;
            }
          }

          .location {
            margin-left: -4px;

            .compass {
              background-color: $my-purple;
              color: rgba(255, 255, 255, 0.856);
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .person-detail {
            .name,
            .location,
            .interests,
            .languages {
              h5 {
                margin-top: -10px;
              }
            }
          }

          .filter {
            margin-bottom: 10px;
            padding: 0 12px;
          }

          .greybut {
            background-color: $back-grey;
            color: $my-grey;
          }

          .gift {
            padding: 5px 5px;
          }
        }
      }
    }

    footer {
      position: sticky;
      bottom: 0;
      width: 100%;
      height: 70px;
      background-color: white;
      grid-area: foot;

      @media (min-width: 1024px) {
        display: none;
      }

      .home-foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;
        height: 100%;

        .fa-globe {
          font-size: 4rem;
          color: rgba(255, 255, 255, 0.897);

          &:hover {
            color: $my-orange;
          }
        }

        .foot-icon3 {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $my-purple;
          width: 70px;
          height: 70px;
          margin-top: -40px;
          border-radius: 10px;
        }
      }
    }
  }
}
